<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>{{ site.title }}</title>
    <h1>{{ page.title }}</h1>

    

    <script src="/downloads/audiojs/audio.js"></script>
    <script src="/downloads/js/jquery.js"></script>

    
    
    <script>
      $(function() { 
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });
        
        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
          if (unicode == 39) {
            var next = $('li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });
    </script>
    
   </head>
  
  <body onload="show()">    
    <div class="site">
      <div id="hitokoto"><script>hitokoto()</script></div>
      <hr />
      {{ content }}
      <div class="footer">
	<div class="contact">
	  <hr />
	  <h3>contact:</h3>
	  <p>
	    Chengyuan Lin<br />
	    China<br />
	    <a href="mailto:sxhash@gmail.com">sxhash@gmail.com</a>
	  </p>
	</div>
	<div class="contact">
	  <p>
	    <a href="https://github.com/chengyuanlin/">Github</a><br />
	  </p>
	</div>
      </div>
    </div>
    
  </body>
</html>
